Repository stanley-agwu/weShip-app: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write

.lintstagedrc.json:

{
  "*.css": "stylelint",
  "*.scss": "stylelint",
  "*.{js, jsx, ts, tsx}": ["eslint", "prettier --write"]
}

weShip MERN - frontend - Changed Loader styles to css modules and updated stylelint rule to accept lowerCamelCase class selectors
  .stylelintrc.json
  frontend/src/components/Loader/Loader.module.scss
  frontend/src/components/Loader/Loader.tsx
Due: stylelint

weShip MERN - frontend - Changed Header styles to css modules
  frontend/src/components/Header/Header.module.scss
  frontend/src/components/Header/Header.tsx
Due: stylelint

weShip MERN - frontend - Updated MapTile and LocationCard styles to css modules, and updated eslintrc.json to set endOfLine to auto
  .eslintrc.js
  .lintstagedrc.json
  .stylelintrc.json
  frontend/src/components/LocationCard/LocationCard.module.scss
  frontend/src/components/LocationCard/LocationCard.scss
  frontend/src/components/LocationCard/LocationCard.tsx
  frontend/src/components/MapTile/MapTile.module.scss
  frontend/src/components/MapTile/MapTile.tsx
Due: stylelint, eslint, prettier --write

weShip MERN - frontend - Updated table component, updated styles to css modules and updated global font family
  frontend/public/index.html
  frontend/src/components/Table/Table.module.scss
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/index.scss
Due: stylelint

weShip MERN - frontend - refactored dasboard page display of contents, updated styles to css module
  frontend/src/App.tsx
  frontend/src/components/DeliveryForm/DeliveryForm.module.scss
  frontend/src/components/DeliveryForm/DeliveryForm.tsx
  frontend/src/components/Table/Table.module.scss
  frontend/src/index.scss
  frontend/src/pages/Dashboard/Dashboard.module.scss
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/styles.scss
Due: stylelint

weShip MERN - frontend - updated flex gap between form control items
  frontend/src/components/DeliveryForm/DeliveryForm.module.scss
Due: stylelint

weShip MERN - frontend - updated dashboard page, form and table components
  frontend/src/components/DeliveryForm/DeliveryForm.module.scss
  frontend/src/components/Table/Table.module.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/pages/Dashboard/Dashboard.tsx
Due: stylelint

weShip MERN - frontend - formated date and time using moment
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table/Table.module.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/features/delivery/deliverySlice.ts
  frontend/src/index.scss
  frontend/src/pages/Dashboard/Dashboard.module.scss
Due: stylelint

weShip MERN - forntend - updated background and box shadow styles
  frontend/src/components/DeliveryForm/DeliveryForm.module.scss
  frontend/src/components/Table/Table.module.scss
  frontend/src/index.scss
  frontend/src/pages/Dashboard/Dashboard.module.scss
  frontend/src/pages/styles.scss
Due: stylelint

weShip MERN - frontend - Added more component to update deliveries
  frontend/public/index.html
  frontend/src/assets/more.svg
  frontend/src/components/Table/More/More.module.scss
  frontend/src/components/Table/More/More.tsx
  frontend/src/components/Table/Table.module.scss
  frontend/src/components/Table/Table.tsx
  package-lock.json
  package.json
Due: stylelint

weShip MERN - frontend - updated more component with popover
  frontend/src/components/Table/More/More.module.scss
  frontend/src/components/Table/More/More.tsx
  frontend/src/components/Table/Table.module.scss
  package-lock.json
Due: stylelint

weShip MERN(frontend): formated files - prettier
  .prettierignore
  .prettierrc.js
  frontend/src/components/Table/More/More.module.scss
  frontend/src/features/delivery/deliverySlice.ts
  frontend/src/types.ts/index.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
  renovate.json
Due: stylelint, eslint, prettier --write

weShip MERN(frontend): simplified .eslintrc file by using personal utility eslint library - eslint-config-utility
  .eslintrc.js
  backend/src/controllers/deliveryControllers.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

weShip MERN(frontend): imported eslint utility config import order sort to sort and order imports
  .eslintrc.js
  backend/src/controllers/deliveryControllers.ts
  backend/src/controllers/userControllers.ts
  backend/src/middlewares/errorHandler.ts
  backend/src/middlewares/requiredAuth.ts
  backend/src/models/Delivery.ts
  backend/src/models/User.ts
  backend/src/routes/delivery.ts
  backend/src/routes/user.ts
  backend/src/server.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

weShip MERN(frontend): using eslint-config-utility prettier for code formatting rather than hard coding
  .prettierrc.js
Due: eslint, prettier --write

weShip MERN(frontend, backend): updated eslint-config-utility package to lastest version and created .eslint and .eslintignore files for frontend
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write

weShip MERN(frontend): fixed all eslint issues and sorted/ordered imports with eslint-utility-config
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/app/hooks.ts
  frontend/src/app/store.ts
  frontend/src/components/DeliveryForm/DeliveryForm.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LocationCard/LocationCard.tsx
  frontend/src/components/MapTile/MapTile.tsx
  frontend/src/components/Table/More/More.tsx
  frontend/src/components/Table/Table.tsx
  frontend/src/features/auth/authService.ts
  frontend/src/features/auth/authSlice.ts
  frontend/src/features/delivery/deliveryService.ts
  frontend/src/features/delivery/deliverySlice.ts
  frontend/src/index.tsx
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
Due: none

refactor(frontend and backend): making repo Commitizen friendly
  package-lock.json
  package.json
Due: none

refactor(frontend/backend): added commitlint and commitlint config conventional, and hu
  .commitlintrc.js
  .husky/commit-msg
  package-lock.json
  package.json
Due: eslint, prettier --write

refactor(frontend/backend): added a scopeList to commitizen and modified the types of commits
  package.json
Due: none

refactor(frontend/backend): installed standard-version for changelog management
  package-lock.json
  package.json
Due: none

chore(release): 1.0.0
  CHANGELOG.md
Due: none

feat(frontend): updated lint-staged package
  package-lock.json
  package.json
Due: none

feat(frontend): corrected path to tsconfig
  frontend/.eslintrc.js
Due: eslint, prettier --write
